# Dapatkan API Key ini dari http://geomi.dev/ (Geomi Dashboard)
# Buat file bernama `.env` di folder utama proyek Anda dan salin isinya dari file ini

VITE_SHELBY_API_KEY=masukkan_api_key_anda_disini
